@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

body {
  font-family: 'Roboto', sans-serif;
  font-size: 16px;
  font-weight: normal;
  background: #dadada;
  color: rgb(0, 70, 155);
}

a {
  color: black;
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

a:active {
  color: orange;
}

a:visited {
  color: rgb(98, 98, 98);
}

.btn {
  background-color: #787878;
  padding: 8px 13px;
  color: #dadada;
  border: none;
  border-radius: 5px;
  font-family: inherit;
  cursor: pointer;
  transition: all 1s;
}

.btn:hover {
  opacity: .5;
}

.container {
  max-width: 850px;
  margin: auto;
}

.avatar {
  width: 200px;
  height: 200px;
  border-radius: 20px;
  box-shadow: 4px 4px 14px rgba(0, 0, 0, .25);
}

.main_info {
  margin-bottom: 20px;
  display: flex;
}

.main_info_text {
  margin-left: 30px;
}

.main_info_text p {
  font-style: italic;
  font-weight: bold;
  color: #787878;
  margin: 0;
}

.card {
  background-color: whitesmoke;
  border-radius: 15px;
  padding: 10px 15px;
  margin-bottom: 10px;
}

.list {
  padding: 0 20px;
}

.list li {
  color: #7a7a7a;
  margin-bottom: 5px;
}

.table {
  width: 100%;
}

.table th {
  padding-bottom: 5px;
}

.table th,
.table tr:nth-child(even) {
  background-color: #bdbdbd;
}

.table td {
  padding-bottom: 5px;
  text-align: center;
}

.form h2 {
  text-align: center;
}

.form_row {
  margin-bottom: 5px;
  display: flex;
}

.form_row .form_group {
  margin-right: 15px;
  width: 50%;
}

.form_row .form_group:last-child {
  margin-right: 0;
}

.form_group label {
  display: block;
  font-size: 14px;
  color: #7a7a7a;
}

.form_group input,
.form_group textarea {
  width: 100%;
  box-sizing: border-box;
  border: none;
  background: transparent;
  border-bottom: 1px solid #ccc;
  color: black;
  padding: 15px 0 10px;
  outline: none;
  font-family: inherit;
}

.form_btn {
  text-align: center;
}

.form_btn input {
  width: 30%;
}

@media (max-width: 670px) {
  .main_info {
    display: block;
    text-align: center;
  }

  .main_info_text {
    margin: 0;
  }

  .form_row {
    display: block;
  }

  .form_row .form_group {
    width: 100%;
    margin-right: 0;
    margin-bottom: 5px;
  }
}